@use '../styles/main.scss' as *;

.edit-translation {
  @extend .container;
  @media (max-width: 740px) {
    padding: 0;
  }
}

.edit-header {
  @extend .flex, .justify-between, .items-center;
  @media (max-width: 740px) {
    padding: 20px 20px;
  }
}

.translation-title {
  h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 0.25rem;
  }
}

.translation-languages {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-actions {
  @extend .flex, .gap-2;
}

.translation-content {
  @extend .flex, .justify-between, .gap-1;
  width: 100%;
}

.lyrics-section {
  width: 100%;
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 80px;

    @media (max-width: 740px) {
      padding-left: 8px !important;
    }
  }
}

.lyrics-text.original {
  line-height: 1.8;
  white-space: pre-line;
  padding: 1rem;
  
  .line {
    min-height: 30px;
    padding: 0 8px;
  }

  @media (max-width: 740px) {
    padding: 0;
  }
}

.lyrics-editable {
  width: 100%;
  min-height: 400px;
  padding: 1rem;
  font-family: inherit;
  line-height: 1.8;
  div {
    min-height: 30px;
    padding: 0 8px;
  }

      
  @media (max-width: 740px) {
    padding: 0;
    .text-wrapper {
      padding: 0;
    }
  }
}

.lyrics-line {
  min-height: 1.6em;
  padding: 0.125rem 0;
  
  &:focus {
    outline: none;
    padding: 0.0625rem 0.25rem;
    margin: 0.0625rem -0.25rem;
  }
}

.error-message {
  @extend .p-3, .mb-4;
}

.loading,
.error {
  @extend .text-center, .p-4;
  font-size: 1.125rem;
}
