@use '../styles/main.scss' as *;

.view-translation {
  @extend .container;
  @media (max-width: 740px) {
    padding: 0;
  }
}

.translation-header {
  @extend .flex, .justify-between, .items-center;
  @media (max-width: 740px) {
    padding: 20px 20px;
  }
}

.translation-title {
  h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 0.25rem;
  }
}

.translation-languages {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.translation-content {
  @extend .grid, .grid-cols-2, .mb-4;
}

.lyrics-section {  
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 80px;

    @media (max-width: 740px) {
      padding-left: 8px !important;
    }
  }
}

.lyrics-text {
  line-height: 1.8;
  white-space: pre-line;
  .line {
    min-height: 30px;
    padding: 0 8px;
  }
}

.translation-footer {
  @extend .text-center, .pt-3;
}

.loading,
.error {
  @extend .text-center, .p-4;
  font-size: 1.125rem;
}
